#welcome {


background-image:url(Images/background.gif);
background-repeat: no-repeat;
background-size: 100% 667px;

}

#sans {
 position: absolute;
	right:20px;


}

#codes {

position: absolute;
right: 20px;
top: 287px;

width: 220px;

background-color: black;
color: green;

}


.bnt {

position:  absolute;
right: 90px;
top: 401px;

}

.bcol{

background: black;
color: green;

}

#task2bg {

background-color: black;

}