body{


background-image:url(Images/background.gif);

}

#sans {
 position: absolute;
	right:20px;


}

#codes {

position: absolute;
right: 40px;
top: 287px;

background-color: black;
color: green;

}